<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">System</property>
		<property name="hibernate.connection.password">root</property>
		
		<property name="formate_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.formate_sql"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!--  If table not exist  this method create table automatically using entity class variables and datatypes-->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- <mapping resource="com/rk/cfg/emp.hbm.xml"/> -->
		<mapping class="com.app.Student"/>
	
	</session-factory>

</hibernate-configuration>	
	